<!-- calendarview.html -->
{% extends "base.html" %}

{% block content %}

<div class="grid grid-cols-8">
{% for date in calendar %}
<div class="col-span-1">
<table>
  <thead>
    <tr>
      <th>{{date}}</th>
    </tr>
  </thead>
  <tbody>
    {% for slots in calendar.values %}
    {% for slot in slots.values %}
    {% if slot.start|date:"Y-m-d" == date %}
    
    
    <tr>
      {% if slot.available == True %}
        <td class="bg-green-400">
          <a href="{% url 'session_writer' chosen_slot=slot.start|date:"Y-m-d\TH-i" endpoint="book_treatment" company_name=request.session.company_name %}"  id="{{ slot.start|date:"Y-m-d" }}T{{ slot.start|date:"H-i" }}">{{slot.start|date:"H:i"}} - available</a>
        </td>
      {% else %}
        <td class="bg-red-300">
          <a href="#nope" class="pointer-events-none" id="{{ slot.start|date:"Y-m-d" }}T{{ slot.start|date:"H-i" }}">{{slot.start|date:"H:i"}} - unavailable</a>
        </td>
      {% endif %}
    </tr>

    {% endif %}


    
    
        
      {% endfor %}
    {% endfor %}
      
        
  </tbody>
</table>
</div>
{% endfor %}
  
</div>
<p>{{ request.session.company_name }}</p>




{% endblock content %}