<!-- choose_treatments.html -->
{% extends "appointment/base.html" %}


{% block content %}
{% load myfilters %}

<div class="flex justify-center items-center">
    <div class="mx-auto mt-16">
      <h1>Choose your desired treatment:</h1>
  
      <form method="post">
        {% csrf_token %}
  
        <label for="{{ form.name.id_for_label }}">Treatment</label>
        {{ form.name|addclass:"border-0 cursor-pointer rounded-full drop-shadow-md bg-sky-200 w-auto duration-300 hover:bg-sky-400 focus:bg-amber-300" }} {{ form.name.errors }} <br>
  
        <label for="{{ form.client_name.id_for_label }}">{{ form.client_name.label }}</label>
        {{ form.client_name|addclass:"border border-gray-400 rounded-full p-2 my-2"}}
        {{ form.client_name.errors }} <br>
  
        <label for="{{ form.client_surname.id_for_label }}">{{ form.client_surname.label }}</label>
        {{ form.client_surname|addclass:"border border-gray-400 rounded-full p-2 my-2"}}
        {{ form.client_surname.errors }} <br>
  
        <label for="{{ form.client_mail.id_for_label }}">{{ form.client_mail.label }}</label>
        {{ form.client_mail|addclass:"border border-gray-400 rounded-full p-2 my-2"}}
        {{ form.client_mail.errors }} <br>
  
        <label for="{{ form.client_phone.id_for_label }}">{{ form.client_phone.label }}</label>
        {{ form.client_phone|addclass:"border border-gray-400 rounded-full p-2 my-2"}}
        {{ form.client_phone.errors }} <br>

        <input type="submit" class="border-0 cursor-pointer rounded-full drop-shadow-md bg-sky-200 w-36 duration-300 hover:bg-sky-400 focus:bg-amber-300" value="Next">
  
      </form>
    </div>
  </div>
    
{% endblock content %}